@charset "utf-8";
:root {
    --orange-light: #FFA500;
    --orange-dark: #F18800;
}

.chevron{
    color: #FFA500;
    font-size: 3.6rem;
}
.carousel-item>div {
    color:black;
    position:initial;
}
.carousel-item>div>p{
    border: 2px solid var(--orange-dark);
}
.indicators {
    background-color: #FFA500;
    bottom: auto;
}